In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:

df = pd.read_csv('dat.csv')
df.head()

         X1         X2            Y
0  0.931719  50.942832  2596.040230
1  0.796997  50.312938  2532.026902
2  1.115603  50.156194  2516.888332
3  1.064629  50.774814  2579.215190
4  1.796804  50.055668  2508.798424